node_modules
client-build
build.txt
config_build.json
config_local*
.DS_Store
*.swp
dist/engine
dist/client
dist/mapEditor
dist/prefabEditor
dist/server
dist/shared
dist/public/scripts

configuration/server.json
configuration/client.local.json
